 <nav id="menu" class="navbar">
  <div class="nav-inner">


    <!-- NAVBAR when in XS VIEW -->
    <div class="navbar-header">
      <span id="category" class="visible-xs">Categories</span>
      <button type="button" class="btn btn-navbar navbar-toggle"><i class="fa fa-bars"></i></button>
    </div>
    <!-- End of NAVBAR in XS VIEW -->


    <!-- NAVBAR when in DESKTOP VIEW -->
    <div class="navbar-collapse">
      <ul class="main-navigation">
        <li><a href="/admin/pages" class="parent">Pages</a></li>
        <li><a href="/admin/categories" class="parent">Categories</a></li>
        <li><a href="/admin/products" class="parent">Products</a></li>
        <li><a href="/admin/brands" class="parent">Brands</a></li>
        <li><a href="/admin/edit-info" class="parent">Site Data</a></li>
        <li><a href="/admin/info-pages" class="parent">Info Pages</a></li>
      </ul>
    </div>
    
  </div>
</nav>