<!--  FLASH Messages  -->	
<% if(messageDang.length > 0) { %>
     <div class="alert alert-danger"><b><%= messageDang %></b></div>
<% } %>
<% if(messageSucc.length > 0) { %>
     <div class="alert alert-success"><b><%= messageSucc %></b></div>
<% } %>
<% if(messagePassport.length > 0) { %>
     <div class="alert alert-danger"><b><%= messagePassport %></b></div>
<% } %>
<!--  FLASH Messages  -->	