                        </div>	
                        <!--  End of CHANGABLE PAGE CONTENT  -->	
                </div>   
                <!--  End of INNER PAGE CONTENT -->	
        </main><!-- /.container -->
        <!--  End of PAGE CONTENT -->

        <br><br><hr>
        <p class="text-center">&COPY; CMS Webshop</p>

        <!-- BOOTSTRAP 4 JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- JQUERY GENERAL -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <!-- FANCYBOX JQUERY -->
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</body>
</html>