<!-- ACCOUNT SIDEBAR -->
    <div class="col-sm-3 hidden-xs column-left" id="column-left">
      <div class="Categories left-sidebar-widget">
        <div class="columnblock-title">Account</div>
        <div class="category_block">
          <ul class="box-category">
            <!-- <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/reset-password">Forgotten Password</a></li> -->
            <!-- <li><a href="#">My Account</a></li> -->
            <li><a href="/wishlist">Wish List</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/orders">Order History</a></li>
            <!-- <li><a href="#">Newsletter</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <!-- End of ACCOUNT SIDEBAR -->