<%- include('../layouts/header') %>

<h2>Dashboard</h2>
<hr>
<p class="text-secondary">Welcome <b><i><%= user.name %></i></b> to the application Dashboard.</p>

<a class="btn btn-primary" href="/admin/pages">All pages</a>
<a class="btn btn-primary" href="/admin/categories">All categories</a>
<a class="btn btn-primary" href="/admin/products">All products</a>
<br>

<%- include('../layouts/footer') %>