<%- include('../layouts/header.ejs') %>

<h2><%= title %></h2>
<hr>

<h4>Thank you for your purchase.</h4>
<p>The products you have ordered will be sent to you within 1 business day.</p>

<a href="/products" class="btn btn-secondary">Back To Shop</a>

<%- include('../layouts/footer.ejs') %>