<%- include('../layouts/header') %>

<h2><%= title %></h2>
<hr>

<form method="post" action="/reset-password">
     
     <div class="form-group">
          <label>Enter your email address here:</label>
          <input type="email" name="email" class="form-control" placeholder="Email">
     </div>
 
     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
     <button type="submit" class="btn btn-outline-secondary">Reset password</button>
</form>

<%- include('../layouts/footer') %>
